@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400&display=swap');
@import '../src/globals.css';

@font-face {
  font-family: 'Geist Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url('../node_modules/@fontsource-variable/geist/files/geist-latin-wght-normal.woff2')
    format('woff2-variations');
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }

  html {
    @apply font-sans antialiased;
  }
}
